<footer class="main-footer">
 	<div class="pull-right hidden-xs">
	  <b>Version</b> 0.1
	</div>
	<strong>Copyright &copy; 2017-2018 <a href="http://shopowner.in/">ShopOwner</a>.</strong>
	ShopOwner is a product of <a href="http://www.datamattic.com" target="_blank"><strong>Datamattic Inc</strong>.</a>
	All rights reserved.
</footer>
